.props-secret-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.props-secret-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
}
 
.props-secret-navbar-interactive {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
 
.props-secret-image {
  width: 105px;
  height: 85px;
  object-fit: cover;
}
 
.props-secret-desktop-menu {
  flex: 1;
  display: flex;
}
 
.props-secret-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.props-secret-navlink1 {
  font-size: 20px;
  text-decoration: none;
}
 
.props-secret-navlink2 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.props-secret-navlink3 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.props-secret-navlink4 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.props-secret-text10 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
}
 
.props-secret-burger-menu {
  display: none;
}
 
.props-secret-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.props-secret-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.props-secret-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.props-secret-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.props-secret-logo {
  height: 2rem;
}
 
.props-secret-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.props-secret-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.props-secret-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.props-secret-text11 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.props-secret-text12 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.props-secret-text13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.props-secret-text14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.props-secret-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.props-secret-buttons {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.props-secret-login {
  margin-right: var(--dl-layout-space-twounits);
}
 
.props-secret-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.props-secret-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.props-secret-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.props-secret-show {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: var(--dl-layout-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: center;
  background-image: url("/Img/secret_prop_image-1200w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.props-secret-show-title {
  color: #ffffff;
}
 
.props-secret-text16 {
  display: inline-block;
}
 
.props-secret-text17 {
  display: inline-block;
}
 
.props-secret-text18 {
  display: inline-block;
}
 
.props-secret-text19 {
  display: inline-block;
}
 
.props-secret-text20 {
  display: inline-block;
}
 
.props-secret-text21 {
  display: inline-block;
}
 
.props-secret-text22 {
  display: inline-block;
}
 
.props-secret-text23 {
  display: inline-block;
}
 
.props-secret-text24 {
  display: inline-block;
}
 
.props-secret-text25 {
  display: inline-block;
}
 
.props-secret-text26 {
  display: inline-block;
}
 
.props-secret-text27 {
  display: inline-block;
}
 
.props-secret-text28 {
  display: inline-block;
}
 
.props-secret-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .props-secret-content {
    overflow: hidden;
  }
}
 
@media(max-width: 767px) {
  .props-secret-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .props-secret-desktop-menu {
    display: none;
  }
  .props-secret-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .props-secret-text11 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .props-secret-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .props-secret-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .props-secret-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .props-secret-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .props-secret-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .props-secret-mobile-menu {
    padding: 16px;
  }
  .props-secret-show {
    height: var(--dl-layout-size-xxlarge);
    background-size: cover;
    background-image: url("/Img/secret_prop_image-1200w.jpg");
    background-position: center;
  }
}
