.sketchbook-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.sketchbook-content {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.sketchbook-navbar-interactive {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  width: 90%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  background-color: #000000;
}
 
.sketchbook-navlink1 {
  display: contents;
}
 
.sketchbook-image {
  width: 105px;
  height: 85px;
  object-fit: cover;
  text-decoration: none;
}
 
.sketchbook-desktop-menu {
  flex: 1;
  display: flex;
}
 
.sketchbook-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.sketchbook-navlink2 {
  font-size: 20px;
  text-decoration: none;
}
 
.sketchbook-navlink3 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.sketchbook-navlink4 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.sketchbook-navlink5 {
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.sketchbook-text10 {
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
}
 
.sketchbook-burger-menu {
  display: none;
}
 
.sketchbook-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.sketchbook-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.sketchbook-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.sketchbook-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.sketchbook-logo {
  height: 2rem;
}
 
.sketchbook-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.sketchbook-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.sketchbook-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.sketchbook-text11 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.sketchbook-text12 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.sketchbook-text13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.sketchbook-text14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.sketchbook-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.sketchbook-buttons {
  width: 100%;
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.sketchbook-login {
  margin-right: var(--dl-layout-space-twounits);
}
 
.sketchbook-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.sketchbook-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.sketchbook-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.sketchbook-show {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: var(--dl-layout-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: center;
  background-image: url("/Img/secret_prop_image-1200w.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
 
.sketchbook-show-title {
  color: rgb(255, 255, 255);
}
 
.sketchbook-text16 {
  display: inline-block;
}
 
.sketchbook-text17 {
  display: inline-block;
}
 
.sketchbook-text18 {
  display: inline-block;
}
 
.sketchbook-text19 {
  display: inline-block;
}
 
.sketchbook-text20 {
  display: inline-block;
}
 
.sketchbook-text21 {
  display: inline-block;
}
 
.sketchbook-text22 {
  display: inline-block;
}
 
.sketchbook-text23 {
  display: inline-block;
}
 
.sketchbook-text24 {
  display: inline-block;
}
 
.sketchbook-text25 {
  display: inline-block;
}
 
.sketchbook-text26 {
  display: inline-block;
}
 
.sketchbook-text27 {
  display: inline-block;
}
 
.sketchbook-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .sketchbook-content {
    overflow: hidden;
  }
}
 
@media(max-width: 767px) {
  .sketchbook-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .sketchbook-desktop-menu {
    display: none;
  }
  .sketchbook-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sketchbook-text11 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sketchbook-text12 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sketchbook-text13 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sketchbook-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .sketchbook-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .sketchbook-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .sketchbook-mobile-menu {
    padding: 16px;
  }
  .sketchbook-show {
    height: var(--dl-layout-size-xxlarge);
    background-size: cover;
    background-image: url("/Img/secret_prop_image-1200w.jpg");
    background-position: center;
  }
}
